asn1crypto==0.24.0
certifi==2022.9.24
charset-normalizer==2.0.12
cox==0.1.post3
cryptography==2.1.4
dataclasses==0.8
dill==0.3.4
gitdb==4.0.9
GitPython==3.1.20
grpcio==1.48.2
idna==2.6
importlib-resources==5.4.0
keyring==10.6.0
keyrings.alt==3.0
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.6
psutil==5.9.2
py3nvml==0.2.7
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.4
python-dateutil==2.8.2
pytz==2022.4
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.11.0
smmap==5.0.0
tensorboardX==2.5.1
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.64.1
typing-extensions==4.1.1
urllib3==1.26.12
xmltodict==0.13.0
zipp==3.6.0
